/* CSS Document */

	html{width:950px; margin: 0 auto; background-image:url(../image/PTIBG.png); background-repeat:no-repeat; background-color:#b8beb7;}

	.bubble1{width:80px; height:95px; position:absolute;}
